<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="./style.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    
    <title>MAP</title>
</head>
<body>
    <div class="container-fluid">
        <!--Header-->
        <div class="header pt-3 pb-3 pl-3">
            <h2>AC Charger</h2>
          </div>
    <div class="wrapper">
        <!--Sidebar-->
      <div id="sidebar">
        <nav class="navbar-dark">
          <ul class="navbar-nav">
            <li id="rfid">
              <a class="nav-link px-3 active" href="./rfid.html" onclick="return socketConnection();">
                <span>RFID Configuration</span>
              </a>
            </li>
            <li><hr class="dropdown-divider bg-light my-0" /></li>
            <li id="network">
              <a class="nav-link px-3 active" href="./network.html" onclick="return socketConnection();">
                <span>Network Configuration</span>
              </a>
            </li>
            <li><hr class="dropdown-divider bg-light my-0" /></li>
            <li id="chargingpoint">
              <a class="nav-link px-3 active" href="./chargingpoint.html" onclick="return socketConnection();">
                <span>Charging point</span>
              </a>
            </li>
            
            <li><hr class="dropdown-divider bg-light my-0" /></li>
            <li>
            <li id="connector">
              <a class="nav-link px-3 active" href="./chargconnector.html" onclick="return socketConnection();">
                <span>Charge Connectors</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>

      <!--Network-->
      <div class="content" id="network">
        <h2 class="mb-5 ml-3">Network configuration</h2>
        <div class="row m-0">
        <form  class="form" action="/network" style="margin-right: 15px;">
          <div class="form-group row mb-3">
            <label for="interfaceType" class="col-lg-2 col-form-label text-center">Interface Type</label>
            <div class="col-lg-10 inputCenter">
              <select class="form-control" name="interfaceType" id="i_type">
                <option value="1">WiFi</option>
                <option value="2">GSM</option>
                <option value="3">Ethernet</option>
              </select>
            </div>
          </div>
          <div class="card" style="width: 100%;"> 
            <h5 class="card-header">WiFi Configuration</h5>
            <div class="card-body">
                <div class="form-group row mb-3">
                  <label for="wifiName" class="col-lg-2 col-form-label text-center">WiFi Name</label>
                  <div class="col-lg-10 inputCenter">
                    <input type="text" class="form-control" id="ssid" placeholder="Enter _ssid">
                  </div>
                </div>
                <div class="form-group row mb-3">
                  <label for="wifi-pswd" class="col-lg-2 col-form-label text-center">Password</label>
                  <div class="col-lg-10 inputCenter">
                    <input type="password" class="form-control" id="pwd" placeholder="Enter _password">
                  </div>
                </div>
                <div class="form-group row mb-3">
                  <label for="security" class="col-lg-2 col-form-label text-center">Security</label>
                  <div class="col-lg-10 inputCenter ">
                    <input type="text" class="form-control" id="security" placeholder="1">
                  </div>
                </div>
            </div>
          </div>
          <div class="card mt-3" style="width: 100%;">
            <h5 class="card-header">GSM Configuration</h5>
            <div class="card-body">
                <div class="form-group row mb-3">
                  <label for="apn_name" class="col-lg-2 col-form-label text-center">APN Name</label>
                  <div class="col-lg-10 inputCenter ">
                    <input type="text" class="form-control" id="apn" placeholder="Enter APN"> 
                  </div>
                </div>
                <div class="form-group row mb-3">
                  <label for="apn_pswd" class="col-lg-2 col-form-label text-center">Password</label>
                  <div class="col-lg-10 inputCenter">
                    <input type="text" class="form-control" id="gsm_pass" placeholder="Enter password">
                  </div>
                </div>
                <div class="form-group row mb-3">
                  <label for="chargerID" class="col-lg-2 col-form-label text-center">GSM type</label>
                  <div class="col-lg-10 inputCenter ">
                    <input type="text" class="form-control" id="gsm_type" placeholder="1">
                  </div>
                </div>
            </div>
              </div> 
          <div class="text-center mb-5 mt-3"><button type="submit" class="btn btn-primary">Submit</button></div>
        </form>  
        </div>
      </div>
    </div>
    </div>






    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
</body>
</html>

<script type="text/javascript">

  const url = 'ws://localhost:3000'
  var ws = new WebSocket(url);

function socketConnection() {
    if (ws.readyState == WebSocket.OPEN) {
        ws.close();
    }
}

ws.onopen = function () {
   console.log("Web socket network is connected")
};

ws.onmessage = function (event){
      console.log("on message", JSON.parse(event.data));
      eventData = JSON.parse(event.data);
      var i_type = document.getElementById('i_type');
      var ssid = document.getElementById('ssid');
      var pwd = document.getElementById('pwd');
      var security = document.getElementById('security');
      var apn = document.getElementById('apn');
      var gsm_pass = document.getElementById('gsm_pass');
      var gsm_type = document.getElementById('gsm_type');
      i_type.value = eventData.i_type; 
      ssid.value = eventData.ssid;
      pwd.value = eventData.pwd;
      security.value = eventData.security;
      apn.value = eventData.apn;
      gsm_pass.value = eventData.gsm_pass; 
      gsm_type.value = eventData.gsm_type;
    }

    document.forms[0].onsubmit = (e) =>{
      var i_type = document.getElementById('i_type').value;
      var ssid = document.getElementById('ssid').value;
      var pwd = document.getElementById('pwd').value;
      var security = document.getElementById('security').value;
      var apn = document.getElementById('apn').value;
      var gsm_pass = document.getElementById('gsm_pass').value;
      var gsm_type = document.getElementById('gsm_type').value;
      var f = { 
        i_type: i_type, 
        ssid: ssid,
        pwd: pwd,
        security: security,
        apn: apn,
        gsm_pass: gsm_pass, 
        gsm_type: gsm_type
    }

      console.log("send", JSON.stringify(f));
      ws.send(JSON.stringify(f));
      e.preventDefault();
    }

</script>
